# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio cache
.vs/

# Rider (if you're using JetBrains Rider too)
.idea/

# Others
*.log
*.DS_Store
Thumbs.db
